<!--views/backend/partials/menu.html-->

<link href="<?php echo $BASE ?>/public/styles/backend/partials/menu.css" rel="stylesheet"></link>

<section class='Menu'>
    <div class='wrapper'>
        <a href='<?php echo $BASE ?>/backend/post'><img src='<?php echo $BASE ?>/public/images/movie.png' /></a>
        <a class='label' href='<?php echo $BASE ?>/backend/post'>ការផ្សាយ</a>

        <a href='<?php echo $BASE ?>/backend/category'><img src='<?php echo $BASE ?>/public/images/category.png' /></a>
        <a class='label' href='/backend/category'>ជំពូក</a>

        <a href='<?php echo $BASE ?>/backend/book'><img src='<?php echo $BASE ?>/public/images/books.png' /></a>
        <a class='label' href='/backend/book'>សៀវភៅ</a>

        <a href='<?php echo $BASE ?>/backend/upload'><img src='<?php echo $BASE ?>/public/images/upload.png' /></a>
        <a class='label' href='<?php echo $BASE ?>/backend/upload'>Upload</a>

        <a href='<?php echo $BASE ?>/backend/user'><img src='<?php echo $BASE ?>/public/images/users.png' /></a>
        <a class='label' href='<?php echo $BASE ?>/backend/user'>អ្នក​ប្រើប្រាស់</a>

        <a href='<?php echo $BASE ?>/backend/setting'><img src='<?php echo $BASE ?>/public/images/setting.png' /></a>
        <a class='label' href='<?php echo $BASE ?>/backend/setting'>Setting</a>
    </div>
</section>