/* public/styles/backend/partials/header.css */
.Header{
    background: var(--background-dark);
    border-bottom: 8px solid white;
}

.Header .wrapper{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 5px 0;
}

.Header .wrapper .logo{
    font: 28px/1.5 StardosStencil, Limonf3;
}

.Header .wrapper form{
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.Header .wrapper form select,
.Header .wrapper form input{
    font: var(--body-font);
}

.Header .wrapper form input{
    padding: 0 10px;
}

.Header .wrapper .logout{
    text-align: right;
}

.Header .wrapper .logout a{
    color: white;
    font-size: 16px;
}